{% load static %}
<!-- {% block title %}MichaelBlaze - Ad-Design Branding{% endblock title %} -->
{% block content %}

<section class="icon bg-image">
    <div class="icon__hero">
        <h1 class="icon__hero--title">
            <span>B</span>
            <span>R</span>
            <span>A</span>
            <span>N</span>
            <span>D</span>
            <span>I</span>
            <span>N</span>
            <span>G</span>
        </h1>
    </div>
</section>

<section class="icon__info">
    <!-- <img src="{% static 'images/logo_info.jpg' %}" alt="Logo branding images" fetchpriority="high"> -->
    <h1 style="color: white; text-align: center; padding: 100px;">Ad-Design is under construction and unavailable at the moment...</h1>
</section>

{% endblock content %}