{% load static %}
{% block content %}


<section class="logo bg-image">
    <div class="logo__hero">
        <h1 class="logo__hero--title">
            <span>I</span>
            <span>C</span>
            <span>O</span>
            <span class="mr-12">N</span>
            <span>D</span>
            <span>E</span>
            <span>S</span>
            <span>I</span>
            <span>G</span>
            <span>N</span>
        </h1>
    </div>
</section>

<section class="logo__info">
    <img src="{% static 'images/icon_pack.png' %}" alt="Icon branding images" fetchpriority="high">
</section>

{% endblock content %}
