{% load static %}
{% block content %}


<section class="logo bg-image">
    <div class="logo__hero">
        <h1 class="logo__hero--title">
            <span>B</span>
            <span>R</span>
            <span>A</span>
            <span>N</span>
            <span>D</span>
            <span>I</span>
            <span>N</span>
            <span>G</span>
        </h1>
    </div>
</section>

<section class="logo__info">
    <img src="{% static 'images/logo_info.png' %}" alt="Logo branding images" fetchpriority="high">
</section>

{% endblock content %}