{% load static %}
{% block content %}


<section class="logo bg-image">
    <div class="logo__hero">
        <h1 class="logo__hero--title">
            <span>T</span>
            <span>S</span>
            <span>H</span>
            <span>I</span>
            <span>R</span>
            <span class="mr-12">T</span>
            <span>A</span>
            <span>D</span>
        </h1>
    </div>
</section>

<section class="logo__info">
    <img src="{% static 'images/tshirt_deisgn.png' %}" alt="T-shirt branding images" fetchpriority="high">
</section>

{% endblock content %}
