{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Django Template" />
    <title>{% block title %} MichaelBlaze Graphics {% endblock title %}</title>
    <title></title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'favicon.png' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/output.css' if debug else 'css/output.min.css' %}"
    />
  </head>

  <body
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    class="{% block class %}{% endblock %} overflow-x-hidden"
  >
    {% include 'layouts/header.html' %} 

    {% block content %} 
    {% endblock %}

    <!-- Footer -->
    <footer
      class="w-full items-center justify-center bg-slate-950 min-h-[150px] py-12"
    >
      <div class="flex items-center justify-center mx-auto">
        <div class="flex-shrink-0 mr-12">
          <a class="flex items-center" href="/">
            <img
              class="h-10 md:h-12"
              src="{% static 'favicon.png' %}"
              alt="Michael Blaze Logo"
            />
          </a>
        </div>
        <div class="relative group inline-block self-end mt-6 pb-2 brightness-100">
          <a
            target="_blank"
            class="footer-button font-moderniz"
            href="https://upwork.com/freelancers/michaelblaze29?mp_source=share"
          >
            VISIT MY UPWORK PROFILE
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
